.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 120px 300px 120px;
  width: 100%;
  background: var(--gray-10);
  font-family: 'Poppins', sans-serif;

  .text-adv {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    gap: 8px;

    h2 {
      font-size: 38px;
      font-weight: 700;
      line-height: 60px;
      color: var(--gray-150);
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      color: var(--gray-50);
    }
  }
    .detail-cards {
      display: flex;
      width: 100%;
      align-items: center;
      position: relative;
      padding-top: 250px;

      .detail {
        width: 100%;
        border-bottom: 6px solid var(--cyan-100);
      }

      .cards {
        display: flex;
        width: 100%;
        position: absolute;
        gap: 20px;

        .position1 {
          transform: translateY(-25px);
        }

        .position2 {
          transform: translateY(20px);
        }

        .position3 {
          transform: translateY(65px);
        }

        .card-box {
          background: #fff;
          padding: 0px 20px 25px 20px;
          display: flex;
          flex-direction: column;
          border-radius: 4px;

          .dot-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--violet);
            width: 40px;
            height: 40px;
            border-radius: 100px;
            padding: 35px;
            transform: translateY(-35px);
          }

          h4 {
            color: var(--gray-150);
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
          }

          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: var(--gray-50);
          }
        }
      }
    }
    @media (max-width: 768px) {
      padding: 0 15px 200px 15px;

      .text-adv {
        align-items: center;

      }

      .detail-cards {
        align-items: center;
        justify-content: center;
        padding-top: 130px;

        .detail {
          flex-direction: column;
          width: 6px;
          height: 700px;
          background: var(--cyan-100);
        }
        .cards {
          flex-direction: column;

          .card-box {
            .dot-icon {
              width: 70px;
              height: 70px;
              padding: 45px;
              transform: translateY(-35px) translateX(118%);
            }
          }
        }
      }
    }
}
