.shortener-box {
  width: 100%;
  display: flex;
  flex-direction: column;

  .form-container {
    width: 100%;
    background: var(--violet);
    height: 140px;
    border-radius: 12px;

    margin-top: -270px;

    .form-box {
      width: 100%;
      height: 140px;
      padding: 40px;
      background: url(../../assets/bg-shorten-desktop.svg);
      border-radius: 12px;
      align-items: center;
      justify-content: center;
      position: relative;

      form {
        width: 100%;
        display: flex;
        gap: 25px;
        

      .inpt-short {
          width: 77%;
          height: 60px;
          border-radius: 8px;
          border: none;
          outline: none;
          padding-left: 20px;
          font-size: 17px;
          color: var(--gray-150);
          background: #fff;

          &:focus  {
            color: var(--gray-150);
            font-size: 17px;
          }

          &::placeholder {
            font-family: 'Poppins', sans-serif;
            color: var(--gray-100);
            font-size: 17px;
          }
        }

        .error-field {
          position: absolute;
          bottom: 14px;
          left: 50px;
          color: #CB7171;
          font-style: italic;
          font-size: 14px;
        }

        .inpt-error {
          outline: 2px solid #CB7171;

          &::placeholder {
            color: #c98383;
          }
        }

        .btn-short {
          width: 20%;
          background: var(--cyan-100);
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 8px;
          font-family: 'Poppins', sans-serif;
          color: #fff;
          font-size: 20px;
          font-weight: 700;

          transition: all ease 0.2s;

          &:hover {
            background: var(--cyan-50);
          }
        }
      }
    }
  }
  .response-box {
    width: 100%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    border-radius: 4px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;

    .written-link {
      color: var(--gray-150);
    }

    .result-box {
      display: flex;
      gap: 20px;
      align-items: center;

      .result {
        color: var(--cyan-100);
      }
      
      .btn-copy {
        height: 35px;
        width: 90px;
        background: var(--cyan-100);
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-weight: 800;
        font-size: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
      }

      .copied-bg {
        background: var(--violet);
      }
    }
  }
}