* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan-50: #98e4e4;
  --cyan-100: #2acfcf;
  --violet: #3b3054;
  --red: #f46262;
  --gray-10: #F0F1F6;
  --gray-50: #bfbfbf;
  --gray-100: #9e9aa7;
  --gray-150: #35323e;
  --gray-200: #232127;
}
